[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
pymongo = "*"
flask = "*"
beautifulsoup4 = "*"
requests = "*"
flask-restful = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
